$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

// Prevent overlapping
$screen-xxs-max: ($screen-xs - 1);
$screen-xs-max: ($screen-sm - 1);
$screen-sm-max: ($screen-md - 1);
$screen-md-max: ($screen-lg - 1);

@mixin respondTo($media) {
  @if $media == xxs {
    @media (max-width: $screen-xxs-max) {
      @content;
    }
  } @else if $media == xs {
    @media (min-width: $screen-xs) and (max-width: $screen-xs-max) {
      @content;
    }
  } @else if $media == sm {
    @media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
      @content;
    }
  } @else if $media == md {
    @media (min-width: $screen-md) and (max-width: $screen-md-max) {
      @content;
    }
  } @else if $media == lg {
    @media (min-width: $screen-lg) {
      @content;
    }
  }
}

@mixin respondToAll($sizes) {
  @each $size in $sizes {
    @include respondTo($size) {
      @content;
    }
  }
}
