@keyframes bouncing {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0.1;
    transform: translateY(-1rem);
  }
}
.loader {
  display: flex;
  justify-content: center;
  margin: auto; // Used for index.jsx

  &__orb {
    width: 1rem;
    height: 1rem;
    margin: 1.5rem 0.2rem;
    border-radius: 50%;
    animation: bouncing 0.6s infinite alternate;
    background-color: var(--primary-colour);

    &:nth-child(2) {
      animation-delay: 0.2s;
    }
    &:nth-child(3) {
      animation-delay: 0.4s;
    }
  }
}
