$radio-toggle--padding: 5px;

.radio-toggle {
  position: relative;
  display: inline-flex;
  padding: $radio-toggle--padding;
  user-select: none;
  cursor: pointer;

  &__options {
    display: flex;
    justify-content: space-between;
    width: 2.75em;
    transition: all 0.25s ease;
  }

  &__option {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1em;
    font-size: 1em;
  }

  &__control {
    position: absolute;
    top: #{1 + $radio-toggle--padding};
    left: $radio-toggle--padding;

    background-color: var(--primary-colour);
    width: 1.2em;
    height: 1.2em;
    border: 1px solid #4d4d4d;
    border-radius: 50%;
    transition: all 0.25s ease;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  }

  &__for-screenreader {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
}

.radio-toggle {
  &--checked .radio-toggle__control {
    left: 1.7em;
  }
  &--focused .radio-toggle__control {
    box-shadow: 0px 0px 2px 3px var(--alt-colour);
  }
  &:active .radio-toggle__control {
    box-shadow: 0px 0px 5px 5px var(--alt-colour);
  }
}
