.tickbox {
  display: flex;
  flex: 1;
  min-height: 35px;
  max-height: 45px;

  &__label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2px;
    cursor: pointer;

    &--disabled {
      cursor: default;
    }
  }

  &__input {
    appearance: none;
    transition: all 0.3s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1px;
    height: 1px;
    margin: 0 5px;

    &::before,
    &:checked::before {
      color: var(--base-colour);
      transition: all 0.3s;
      cursor: pointer;
      z-index: 1;
    }

    &::before {
      content: '\2610';
      font-size: 2em;
    }

    &:disabled::before {
      content: '\274c';
      color: var(--disabled-colour);
      cursor: default;
    }

    &:checked::before {
      content: '\2611';
      color: var(--primary-colour);
    }
  }
}
