@import '../styles/_mixins.scss';

.tooltip {
  position: relative;

  &__content {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: auto;
    height: auto;
    background-color: var(--tooltip-background);
    color: var(--tooltip-colour);
    padding: 5px;
    border: 2px solid var(--tooltip-background);
    border-radius: 4px;
    transition: all ease-in-out 0.5s;
    pointer-events: none;
    white-space: nowrap;
    z-index: 10;
    font-size: 1rem;

    &--wrap {
      white-space: pre;
    }
    &--fixed {
      position: fixed;

      @include respondTo(xxs) {
        left: 5px !important;
      }
    }
  }

  &--hovered {
    .tooltip__content {
      visibility: visible;
      opacity: 1;
    }
  }
}
