.button.button {
  &:hover {
    background-color: var(--base-background-hover);
  }

  &--primary {
    background-color: var(--primary-colour);
    color: var(--primary-contrast);

    &:hover {
      background-color: var(--primary-colour-hover);
    }
  }

  &[disabled],
  &[disabled]::hover {
    background-color: var(--disabled-colour);
  }
}

.has-float-label {
  .input {
    &:focus {
      border-bottom-color: var(--primary-colour);
    }
  }

  .select-box {
    outline: none;

    &:focus {
      border-bottom-color: var(--primary-colour);
    }
  }
}

.loading-bouncer__orb {
  background-color: var(--primary-colour);
}
