.button.button {
  &:hover {
    background-color: var(--base-background-hover);
  }

  &--primary {
    background-color: var(--primary-colour);
    color: var(--primary-contrast);

    &:hover {
      background-color: var(--primary-colour-hover);
    }
  }

  &[disabled],
  &[disabled]::hover {
    background-color: var(--disabled-colour);
  }
}

.has-float-label {
  .input {
    &:focus {
      border-bottom-color: var(--primary-colour);
    }
  }

  .select-box {
    outline: none;

    &:focus {
      border-bottom-color: var(--primary-colour);
    }
  }
}

.loading-bouncer__orb.loading-bouncer__orb {
  background-color: var(--primary-colour);
  margin: {
    top: 0;
    bottom: 0;
  }
}

// Tabs
.tabs__panels.tabs__panels {
  border-top: 1px solid var(--primary-colour);
  // overrides...
  min-width: 200px;
}

.tab-control.tab-control:not(.tab-control--active) {
  &:not(:hover),
  .tab-control__button:not(:hover) {
    background-color: var(--faded-out);
    color: var(--faded-out-contrast);
    border-color: var(--faded-out);
    border-bottom: none;
  }
}

.tab-control--active.tab-control--active,
.tab-control.tab-control:hover {
  border: {
    color: var(--primary-colour);
    bottom-color: var(--base-background);
  }
}
