.character-tier {
  &__header {
    display: flex;
    justify-content: space-between;
  }
  &__title {
    display: flex;
  }
}
.character-tier-footer {
  display: flex;
  padding: 5px;
  margin: 10px 0;

  &__delete.character-tier-footer__delete {
    background-color: var(--danger-colour);
    color: var(--danger-contrast);

    &:hover {
      background-color: var(--danger-colour-hovered);
    }
  }
}

.save-block {
  display: flex;
  align-items: center;

  &__button {
    margin: 1rem 0;
  }
}

.search-container {
  &__input {
    flex: 1;
  }
  &__button {
    margin: 10px;
  }
}

.feedback {
  min-height: 1rem;
  padding: 5px;
  color: var(--danger-colour);
}

.grids-container {
  display: flex;
}

.search-results,
.search-selection,
.tiers {
  width: 50vw;

  &--wide {
    flex: 1;
  }
  // TODO
  // Handle small screens!!
}

.character-selection {
  width: 25vw;
}

.characters {
  display: grid;
  grid-template-columns: repeat(auto-fit, 96px); // img width
  grid-gap: 1px;
  border: 1px solid var(--primary-colour);
  padding: 0 !important;
  margin: 0 !important;
  list-style-type: none;

  &.characters--no-items {
    display: flex;
    min-height: var(--image-height);
  }

  &--no-border {
    border: none;
  }
}
