.search-container {
  &__input {
    flex: 1;
  }
  &__button {
    margin: 10px;
  }
}

.feedback {
  min-height: 1rem;
  padding: 5px;
}

.grids-container {
  display: flex;
}

.search-results,
.search-selection,
.tiers {
  width: 50vw;

  &--wide {
    flex: 1;
  }
  // TODO
  // Handle small screens!!
}

.character-selection {
  width: 25vw;
}

.characters {
  display: grid;
  grid-template-columns: repeat(auto-fit, 96px); // img width
  grid-gap: 1px;
  border: 1px solid var(--primary-colour);
  padding: 0 !important;
  margin: 0 !important;
  list-style-type: none;

  &--no-items {
    min-height: var(--image-height);
  }

  &--no-border {
    border: none;
  }
}
