@import './_mixins';

.search-form {
  max-width: 500px;

  &__options {
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0;

    @include respondTo(xxs) {
      flex-direction: column;

      .radio-group__label {
        text-align: left;
      }
    }
  }

  &__submit {
    flex: 1;
    padding: 10px 20px;
    font-size: 1.5em;
  }
}

.theme-container {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  margin: 5px;
}
