$light-theme-colour: #7f7ec2;
$dark-theme-colour: #fbd072;

:root {
  --font-size: 16px;
  --font-family: 'Lucida Console', 'Courier New', monospace;

  --faded-out: #eee;
  --darken-filter-colour: #ddd;

  --danger-colour: #f00;
  --disabled-colour: #bbb;
}

html {
  font-size: var(--font-size);
  font-family: var(--font-family);
}

body {
  background-color: var(--base-background);
  color: var(--base-contrast);
}

body,
.page {
  min-height: 100vh;
  margin: 0;
}

/* Page Styles */
.page {
  display: flex;
  overflow: hidden;

  &--column {
    flex-direction: column;
  }
}

/* Framework */
.flex {
  display: flex;

  &--row {
    flex-direction: row;
  }

  &--column {
    flex-direction: column;
  }

  &--all {
    flex: 1;
  }

  &--end {
    justify-content: flex-end;
  }
}
