:root {
  --font-size: 16px;
  --font-family: 'Lucida Console', 'Courier New', monospace;

  --faded-out: #eee;
  --darken-filter-colour: #ddd;

  --desaturated-blue: #7f7ec2;
  --moderate-blue: #5d5bb2;
  --soft-orange: #fbd072;
  --bright-orange: #fabf40;

  --danger-colour: #f00;
  --disabled-colour: #bbb;
}

.theme--light {
  --base-background: #fff;
  --base-background-hover: #e6e6e6;
  --base-contrast: #000;
  --primary-colour: var(--desaturated-blue);
  --primary-colour-hover: var(--moderate-blue);
  --primary-contrast: #fff;
  --alt-colour: var(--soft-orange);
  --tooltip-background: #000;
  --tooltip-colour: #fff;
}

.theme--dark {
  --base-background: #333333;
  --base-background-hover: #4d4d4d;
  --base-contrast: #fff;
  --primary-colour: var(--soft-orange);
  --primary-colour-hover: var(--bright-orange);
  --primary-contrast: #000;
  --alt-colour: var(--desaturated-blue);
  --tooltip-background: #fff;
  --tooltip-colour: #000;
}

html {
  font-size: var(--font-size);
  font-family: var(--font-family);
}

body {
  background-color: var(--base-background);
  color: var(--base-contrast);
}

body,
.page {
  min-height: 100vh;
  margin: 0;
}

/* Page Styles */
.page {
  display: flex;
  overflow: hidden;

  &--column {
    flex-direction: column;
  }
}

/* Framework */
.flex {
  display: flex;

  &--row {
    flex-direction: row;
  }

  &--column {
    flex-direction: column;
  }

  &--all {
    flex: 1;
  }

  &--end {
    justify-content: flex-end;
  }
}
