@import './_theme.scss';

:root {
  --font-size: 16px;
  --font-family: 'Lucida Console', 'Courier New', monospace;

  --header-height: 35px;
  --image-height: 125px;

  --faded-out: #eee;
  --darken-filter-colour: #ddd;

  --desaturated-blue: #7f7ec2;
  --moderate-blue: #5d5bb2;
  --soft-orange: #fbd072;
  --bright-orange: #fabf40;

  --danger-colour: #f00;
  --danger-contrast: #fff;
  --disabled-colour: #bbb;
}

.theme--light {
  --base-background: #fff;
  --base-background-hover: #e6e6e6;
  --base-contrast: #000;
  --primary-colour: var(--desaturated-blue);
  --primary-colour-hover: var(--moderate-blue);
  --primary-contrast: #fff;
  --alt-colour: var(--soft-orange);
  --alt-contrast: #000;

  --tooltip-background: var(--primary-colour);
  --tooltip-colour: var(--primary-contrast);
  --radio-toggle--control-colour: var(--alt-colour);
  --radio-toggle--box-shadow-colour: var(--primary-contrast);
}

.theme--dark {
  --base-background: #333333;
  --base-background-hover: #4d4d4d;
  --base-contrast: #fff;
  --primary-colour: var(--soft-orange);
  --primary-colour-hover: var(--bright-orange);
  --primary-contrast: #000;
  --alt-colour: var(--desaturated-blue);
  --alt-contrast: #fff;

  --tooltip-background: var(--primary-colour);
  --tooltip-colour: var(--primary-contrast);
  --radio-toggle--control-colour: var(--alt-colour);
  --radio-toggle--box-shadow-colour: var(--primary-contrast);
}

html {
  font-size: var(--font-size);
  font-family: var(--font-family);
}

body {
  background-color: var(--base-background);
  color: var(--base-contrast);
}

body {
  min-height: 100vh;
  margin: 0;
}

main {
  min-height: calc(100vh - var(--header-height));
  padding: 0 5px;
}

/* Header */
.app-header {
  display: flex;
  align-items: center;
  padding: 0 10px;
  background-color: var(--primary-colour);
  color: var(--primary-contrast);
  height: var(--header-height);
  box-shadow: 1px 1px 2px 1px var(--alt-colour);

  .radio-toggle__control {
    background-color: var(--radio-toggle--control-colour);
  }
}
.app-header__nav {
  display: flex;
  height: 100%;
}

/* Page Styles */
.page {
  display: flex;
  overflow: hidden;

  &--column {
    flex-direction: column;
  }
}

/* Framework */
.flex {
  display: flex;

  &--row {
    flex-direction: row;
  }

  &--column {
    flex-direction: column;
  }

  &--all {
    flex: 1;
  }

  &--end {
    justify-content: flex-end;
  }
}

.button-group {
  display: flex;
  justify-content: center;
  align-items: center;

  > * {
    margin: 0 2px;
  }
}
